
.navbar-brand{
    margin-left: -700px; 
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Titillium Web', sans-serif;  
    font-weight: 1000;
    font-size: 35px;
}

.nav-content{
    text-align: right;
    margin-right: 30px;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 1000;
    font-size: 18px;
}

.home{
    text-align: center;
    background-color: rgb(214, 214, 214);
    background-image: url(images/pexels-pixabay-518014.jpg);
    background-position: center;
}

.intro{
    text-align: center;
    margin: 0px 400px;
    font-family: 'Times New Roman', Times, serif;
}

.intro-head{
    font-size: 75px;
    font-family: 'Fredericka the Great', cursive;
    color:white
}

.intro-para{
    font-size: 28px;
    font-weight:bold;
    opacity: 85%;  
    margin: 0px 130px;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color:white;
}

.button-intro{
    margin-top: 40px;
    margin-bottom: 180px;
    padding: 3px 25px;
    background-color:transparent;
    color: white;
    border: 2px solid;
    border-radius:30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-head{
    text-align: center;
    margin-top: 80px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
}
.about-head-1{
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#9d6631;
    font-size: 40px;
}
.about-para{
    margin: 20px 420px;
    font-size: 20px;
    color: white;
}

.values1{
    margin-bottom: 90px;
    padding-bottom: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url(images/Background.jpg);
    background-position: -100px;
}
.card-group{
    text-align: center;
    margin: 10px 150px;
    box-sizing: border-box;
}
.card{
    margin: 15px 15px;
    text-align: center;
}

.curators{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color:white;
}
.images{
    margin-bottom: 130px;
}
.images-sub{
    margin-top: 60px;
    margin-bottom: 40px;
}

.contact-us{
    margin-left: 120px;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.input{
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 20px;
    color: white;
}
.button{
    margin-bottom: 20px;
    margin-left: 120px;
    padding: 5px 40px;
    border-radius:50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.end{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    color: white;
}